<div class="header">
  <h2>Zmień hasło użytkownika <%= @user.email %></h2>
</div>

<%= form_with url: admin_update_password_path, method: :post do |f| %>
  <%= render 'shared/flash_alert' %>

  <div class="form-group">
    <%= f.text_field :new_password, placeholder: "Nowe hasło" %>
  </div>

  <div class="form-group button">
    <%= f.submit "Zapisz" %>
  </div>
  <%= f.hidden_field :id, value: params[:id] %>
<% end %>