<div class="query-box">
  <div class="col-5">
    <p>
      Świadczenie: <strong><%= query.benefit %></strong>
      <% if query.case == 2 %>
        <strong>, pilny przypadek</strong>
      <% end %>
    </p>
    <p>Miejscowość: <strong><%= query.locality%></strong></p>
    <p>Województwo: <strong><%= query.province %></strong></p>
  </div>
  <div class="col-4">
    <p>Data utworzenia: <strong><%= query.user_queries.find { |q| q.user_id == current_user.id }.
    created_at.strftime("%-d.%m.%Y") %></strong></p>
    <p>Liczba dostępnych terminów: <strong><%= query.results.size %></strong>
    <p>Najbliższe terminy: 
      <% unless query.results.empty? %>
        <strong>
          <%= query.results.map { |r| r.date }.uniq.sort[0..1].map { |d| d.to_datetime.strftime('%-d.%m.%y') }.join(', ') %>
        </strong>
      <% else %>
        <strong>Brak wyników</strong>
      <% end %>
    </p>
  </div>
  <div class="col-3 text-right">
    <div id="results-button"><%= button_to "Wyniki", query_path, method: :get, params: { id: query.id } %></div>
    <div id="destroy-button"><%= button_to "Usuń", query_destroy_path, params: { id: query.id }, data: { confirm: "Czy na pewno chcesz to usunąć? "} %></div>
  </div>
</div>