<div class="query-box">
  <div class="col-8">
    <p>
      Świadczenie: <strong><%= query.benefit %></strong>
      <% if query.case == 2 %>
        <strong>, pilny przypadek</strong>
      <% end %>
    </p>
    <p>Miejscowość: <strong><%= query.locality%></strong></p>
    <p>Województwo: <strong><%= query.province %></strong></p>
  </div>
  <div class="col-4 text-right">
    <div id="results-button"><%= button_to "Wyniki", query_path, method: :get, params: { id: query.id } %></div>
    <div id="destroy-button"><%= button_to "Usuń", query_destroy_path, params: { id: query.id }, data: { confirm: "Czy na pewno chcesz to usunąć? "} %></div>
  </div>
</div>