<div class="result-box">
  <div class="col-8">
    <p>
      <strong><%= result.benefit %></strong>
    </p>
    <p><%= result.provider %></p>
    <p><%= result.place %></p>
    <p><strong>Adres:</strong> <%= result.locality%>, <%= result.address %></p>
    <p><strong>Tel.</strong> <%= result.phone %></p>
  </div>
  <div class="col-4 text-right"> 
    <p><strong>Najbliższy termin wizyty:</strong></p>
    <p><%= result.date.to_datetime.strftime("%-d.%m.%Y") %></p>
    <% if result.created_at > @user_query.visited_results_at %>
      <div class="new-info">NOWY</div>
    <% end %>
  </div>

</div>