<%= content_for :script do %>
  <%= javascript_pack_tag 'query_submission_spinner' %>
<% end %>

<div class='header'>
  <h2>Nowe wyszukiwanie</h2>
</div>

<% if flash[:warning]%>
  <div class="alert alert-danger" role="alert">
    <%= flash["warning"] %>
  </div>
<% end %>
<br>
<div class="alert alert-info">
  W polu "Świadczenie" należy wpisać nazwę świadczenia (np. "świadczenia z zakresu ortopedii"),<br>
  oddziału (np. "oddział neurologiczny"), poradni (np. "poradnia alergologiczna)<br>
  lub usługi medycznej (np. "rehabilitacja kardiologiczna")
</div>

<%= form_with(url: queries_create_path, method: :post) do |f| %>
  <%= render 'shared/flash_alert' %>
  <div class="form-group">
    <label class="category-select">
      <%= f.check_box :case, {}, 2, 1  %> Pilny przypadek
    </label>
  </div>
  <div class="form-group">
    <%= f.text_field :benefit, placeholder: "Świadczenie" %>
  </div>
  <div class="form-group">
    <%= f.text_field :locality, placeholder: "Miejscowość" %>
  </div>
  <div class="form-group">
    <%= f.select(:province, Query::PROVINCE_CODES.map{ |pc| [ pc[1], pc[0] ] }) %>
  </div>
  <div class="form-group button">
    <input type="submit" name="commit" value="Zapisz" data-disable-with="Zapisz" >
      <span class="spinner-border spinner-border-sm text-primary " role="status" id="submit_spinner"/>
    </input>
  </div>
<% end %>
