<%= content_for :meta do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<body data-turbolinks="false">

<%= content_for :script do %>
  <script>var id = <%= current_user.id %></script>
  <%= javascript_pack_tag 'force_reload' %>
  <%= javascript_pack_tag 'set_visit_time' %>
<% end %>

<% if @query_results.empty? %>
  Dla tego wyszukiwania nie ma w tej chwili żadnych wyników. Damy Ci znać, jeśli się pojawią.
<% end %>

<div class="box-list">
  <%= render partial: "shared/pagination", locals: { resource: @query_results } %>
  <%= render partial: "shared/result", collection: @query_results, locals: { user_query: @user_query } %>
  <%= render partial: "shared/pagination", locals: { resource: @query_results } %>
</div>

<%= button_to "Powrót", queries_path, method: :get %>


