<!DOCTYPE html>
<html>
  <head>
    <title>NFZAlert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=2.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class='container'>
      <nav>
        <div id='navigation-bar'>
          <ul>
            <li><%= link_to 'Strona główna' %></li>
            <li><%= link_to 'Stub 1' %></li>
          </ul>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
